* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--fonte-corpo);
  color: var(--cor-texto);
  background-color: var(--cor-fundoEscuro);
  line-height: 1.7;
  max-width: 1200px;
  margin: 0 auto;
  /*padding: 0 15px;*/
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-image: url("../../assets/image/img_fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  background-color: var(--cor-fundoTransparente);
}

site-header,
site-footer {
  display: block;
}
