.btn {
  font-family: var(--fonte-ui);
  font-size: 1.3rem;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.btn--primary {
  background-color: var(--cor-destaque);
  color: var(--cor-textoClaro);
  font-weight: bold;
  border: none;
}
